<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> seccion de contacto </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/contacto.css">
    
    
</head>


<body>

    <ul class="nav justify-content-start ">
        <li class="nav-item">
            <img id="logo" src="../assets/E.png" alt="" width="250" height="250">
        </li>
        <li class="nav-item">
            <a class="nav-link menu" href="#">Edufy</a>
        <li class="nav-item">
            <a class="nav-link menu2" href="#">Suscripción</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
    </ul>
    <h3>Comienza por darte la oportunidad de mejorarte</h3>
    <h3>Ponte en contacto con nosotros</h3>
    <form action="https://formspree.io/xwkkbjwj" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre completo</label>
            <input name="Nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Dirección</label>
            <input name="Direccion" type="text" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Telefono</label>
            <input name="Telefono" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">E-mail</label>
            <input name="E-mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Asunto</label>
            <textarea name="Asunto" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        
        <input type="submit" value="Enviar" class="btn"> 

    </form>

    <h5>Ubicación de la oficina</h5>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.5441260383664!2d-101.01245048557365!3d22.143350554170663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842a98acdec5295f%3A0xa877365298ca8afa!2sImparable%20Coworking!5e0!3m2!1ses-419!2smx!4v1573694590749!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
   
</body>

</html>