<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cursos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/flex.css">
</head>

<body>
    <ul class="nav justify-content-end edufy-navi">
        <li class="nav-item">
            <a class="nav-link text-active" href="../views/paquetes.html">Empieza Hoy!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contactos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recomiendanos!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../views/cursos.html">Descarga tus Cursos!</a>
        </li>
    </ul>

    <div class="container card-container">
        <div class="card flex-card">
            <img src="../assets/elementary.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso de Primaria</h5>
                <p class="card-text">Curso de ejemplo primaria</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="../files/dummy.pdf" class="card-link">Descargar</a>
            </div>
        </div>

        <div class="card flex-card">
            <img src="../assets/middle.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso de Secundaria</h5>
                <p class="card-text">Curso de ejemplo Secundaria</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="../files/dummy.pdf" class="card-link">Descargar</a>
            </div>
        </div>

        <div class="card flex-card">
            <img src="../assets/high.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso de Preparatoria</h5>
                <p class="card-text">Curso de ejemplo Preparatoria</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="../files/dummy.pdf" class="card-link">Descargar</a>
            </div>
        </div>

        <div class="card flex-card">
            <img src="../assets/uni (2).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso para Licenciatura</h5>
                <p class="card-text">Curso de ejemplo Licenciatura</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="../files/dummy.pdf" class="card-link">Descargar</a>
            </div>
        </div>
    </div>
</body>

</html>